/Library
/obj
/temp
/*.csproj
/*.sln
/.vs
/*.suo
/*.userprefs
/*.unityproj
/ProjectSettings/ProjectVersion.txt
/ProjectSettings/
/Packages/manifest.json
/Assets/Example/2DIsland
/Assets/Example/2DIsland.meta
/Assets/Example/CliffIsland
/Assets/Example/CliffIsland.meta
/Assets/Example/SciFi
/Assets/Example/SciFi.meta
/Assets/Test/Res
/Logs/
/.vsconfig
